@import '../../style/index.less';

@input-number-cls: ~'@{born-ui-prefix}-input-number';

.@{input-number-cls} {
  position: relative;
  width: 104px;
  & > .ant-input-number {
    width: 100%;
  }
  &-suffix {
    position: absolute;
    top: 4px;
    right: 10px;
    color: @disabled-color;
  }
  .@{ant-prefix}-input-number-handler-wrap {
    z-index: 9;
  }
  .@{ant-prefix}-input-number-input-wrap {
    padding-right: 20px;
  }
  &-range {
    &-group {
      width: 216px;
      border: 1px solid @border-color-base;
      border-radius: @border-radius-base;
      &-focused {
        border-color: @input-hover-border-color;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
      }
      &:hover {
        border-color: @input-hover-border-color;
      }

      .@{input-number-cls} {
        width: 92px;
        > .@{ant-prefix}-input-number {
          border: none;
          &.@{ant-prefix}-input-number-focused {
            border: none;
            box-shadow: none;
          }
        }
        &-range-min {
          .@{ant-prefix}-input-number-handler-wrap {
            border-right: 1px solid @border-color-base;
          }
        }
      }
    }

    &-separator {
      padding: 0 8px;
      color: @disabled-color;
      font-size: @font-size-lg;
      line-height: 30px;
      cursor: default;
    }
  }
}
